.home{
    background-color: white;
    background-image: url("https://cdn.discordapp.com/attachments/941948264285110324/1261756787489509376/446021772_7609078902546894_4157795884938910442_n.png?ex=66961854&is=6694c6d4&hm=38f6709d4e142928fae7f3a0cb2a6a59e9d24c4fbc04280a512a174da7dca033&");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper{
        background-color: transparent;
        width: 80%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }
    &__img{
        flex:1;
    }
    &__info{
        flex:1;
        &__button{
            display:flex;
            gap:20px;
            // .button1{
            //     background-color:#c94cb0 important; 
            // }
        }
    }
     
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    
    display: flex;
    justify-content: center;
    align-items: center;
    &__title{
        width: 80%;
        font-size: 30px;
    }
}