.home{
    background-color: white;
    background-image: url("https://i.pinimg.com/736x/a4/3b/39/a43b3940b137384ed0009b6b4d3b1043.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper{
        background-color: transparent;
        width: 80%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }
    &__img{
        flex:1;
    }
    &__info{
        flex:1;
        &__button{
            display:flex;
            gap:20px;
            // .button1{
            //     background-color:#c94cb0 important; 
            // }
        }
    }
     
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    
    display: flex;
    justify-content: center;
    align-items: center;
    &__title{
        width: 80%;
        font-size: 30px;
    }
}