.dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown__button {
    background-color: white;
    color: #2b0b44;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .dropdown__button:hover {
    background-color: #f0f0f0;
  }
  
  .dropdown__avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  
  .dropdown__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px 0;
    z-index: 1;
    right: 0;
    top: 100%;
  }
  
  .dropdown__content a {
    color: #2b0b44 !important;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease;
  }
  
  .dropdown__content a:hover {
    background-color: #f0f0f0;
  }
  
  .dropdown__user {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border-bottom: 1px solid #ddd;
    span{
        color:black !important;
    }
    p{
        color:black !important;
    }
  }
  
  .dropdown__user .dropdown__avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .dropdown__user .badge {
    background-color: #1e90ff;
    color: white;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 12px;
    margin-left: 5px;
  }
  
  .dropdown__content a i {
    color: #1e90ff;
  }